<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Aip</display-name>
  <welcome-file-list>
    <welcome-file>Homepage.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AddBorrow</display-name>
    <servlet-name>AddBorrow</servlet-name>
    <servlet-class>controller.AddBorrow</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddBorrow</servlet-name>
    <url-pattern>/AddBorrow</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Editbr</display-name>
    <servlet-name>Editbr</servlet-name>
    <servlet-class>controller.Editbr</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Editbr</servlet-name>
    <url-pattern>/Editbr</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logina</display-name>
    <servlet-name>Logina</servlet-name>
    <servlet-class>controller.Logina</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logina</servlet-name>
    <url-pattern>/Logina</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>pojo</display-name>
    <servlet-name>pojo</servlet-name>
    <servlet-class>controller.pojo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>pojo</servlet-name>
    <url-pattern>/pojo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Refresh</display-name>
    <servlet-name>Refresh</servlet-name>
    <servlet-class>controller.Refresh</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Refresh</servlet-name>
    <url-pattern>/Refresh</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Registera</display-name>
    <servlet-name>Registera</servlet-name>
    <servlet-class>controller.Registera</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Registera</servlet-name>
    <url-pattern>/Registera</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserTransaction</display-name>
    <servlet-name>UserTransaction</servlet-name>
    <servlet-class>controller.UserTransaction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserTransaction</servlet-name>
    <url-pattern>/UserTransaction</url-pattern>
  </servlet-mapping>
  <session-config>
    <session-timeout>1</session-timeout>
  </session-config>
  <servlet>
    <description></description>
    <display-name>SavePdf</display-name>
    <servlet-name>SavePdf</servlet-name>
    <servlet-class>controller.SavePdf</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SavePdf</servlet-name>
    <url-pattern>/SavePdf</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SaveAsAsPdf</display-name>
    <servlet-name>SaveAsAsPdf</servlet-name>
    <servlet-class>controller.SavePdf</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SaveAsAsPdf</servlet-name>
    <url-pattern>/SaveAsAsPdf</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Check</display-name>
    <servlet-name>Check</servlet-name>
    <servlet-class>controller.Check</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Check</servlet-name>
    <url-pattern>/Check</url-pattern>
  </servlet-mapping>
</web-app>